#scroll {
  position: absolute;
  width: 430px;
  margin-top: 15px;
  z-index: 99;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #ccc;
  opacity: .9;
  .select-input {
    width: 97%;
    margin-left: 7px;
    box-sizing: border-box;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
  }
  .scroll-select {
    flex-direction: column;
    padding-left: 7px;
    max-height: 208px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 30px;
    li {
      padding: 2px 0 2px 0;
      width: 405px;
      height: 25px;
      .name-city {
          color: #000;
      }
    }
  }
}
