html {
    height: 100%;
}
body {
    height: 100%;
}
#root{
    background-color: #c8ced350;
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-size: 100%;
    min-height: 100%;   
    overflow: hidden;
}
#dashboard {
    width: 100%;
}
#home {
    width: 100%;
}
#support {
    position: fixed;
    right: 10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 180px;
    background: #009212;
    color: #fff;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .text {
        padding-left: 10px;
        padding-right: 10px;    
        font-weight: bold;
        line-height: 30px;
        width: 144px;
        font-size: 12px;
        color: #fff;
    }
    .icon {
        width: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #008500;
        border-top-left-radius: 5px;

    }
}
p{
    font-size: 14px;
   margin: 0;
   line-height: 24px;
   color: #111111;
}
.title {
    margin: 0;
    font-size: 31px;
    line-height: 36px;
    font-weight: 500;
    padding-bottom: 30px;
}
h5 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;

}
h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
    margin: 10px 0 0 0;
    min-height: 27px;
    
}
h3 {
    font-size: 14px;
    margin: 20px 0 0 0;
}
span {
    color: #4cb050;
    font-weight: bold;
}