#header {
    background: #fff;
    .wrraper {
        display: flex;
        justify-content: space-between;
        height: 49px;
        font-size: 13px;
        max-width: 1570px;
        margin: 0 auto;

        .list-menu {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            
            .icon-header {
                padding-left: 20px;
                padding-right: 10px;
            }
            a {
                text-decoration: none;
                line-height: 2;
                display: flex;
                align-items: center;
                height: 37px;
                margin-top: 6px;
            }
            // li {
            //     list-style: none;
            //     margin: 0;
            //     padding-top: 10px;
            //     line-height: 1.5;               
            // }

            .list-menu-center {
                display: flex;
                width: 40%;
                justify-content: center;

                .topic {
                    position: relative;
                    .topic-box {
                        width: 150px;
                        height: 150px;
                        top:35px;
                        background: gray;
                        position: absolute;
                        right: 0;
                        display: none;
                        background: #fff;
                        border: 1px solid #c1c1c1;
                        z-index: 1;
                        .box-color {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            align-items: center;
                            .color {
                                width: 25%;
                                height: 26%;
                            }
                            .color-1 {
                                background: #2e94da;
                            }
                            .color-2 {
                                background: #9b59b6;
                            }
                            .color-3 {
                                background:  #16a085;
                            }
                            .color-4 {
                                background: #4b6580;
                            }
                            .color-5 {
                                background: #d64457;
                            }
                            .color-6 {
                                background: #E67E22;
                            }
                            .color-7 {
                                background: #4bac4d;
                            }
                            .color-8 {
                                background: #6e9992;
                            }
                            .color-9 {
                                background: #d73b8c;
                            }
                        }
                    }
                    &:hover {
                        .topic-box{
                            display: block;
                        }
                    }
                }
                .dowload {
                    position: relative;

                    ul{
                        display: none;      
                        height: auto;      
                        
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            right: 13px;
                            top: -12px;
                            position: absolute;
                            border-bottom: 12px solid #fff;
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            border-left-color: #c1c1c1;
                            border-right-color: #c1c1c1;
                        }          
                    }
                    .img {
                        padding-left: 20px;
                        width: 30px;
                        height: 30px;
                    }
                    .text-link {
                        padding-left: 20px;
                        margin-top: 0;
                        width: 100%;
                    }
                    &:hover {
                        ul {
                            background: #fff;
                            position: absolute;
                            display: block;
                            width: 250px;
                            right: 0;
                            margin: 0;
                            padding: 0;
                            top:37px;
                            border: 1px solid #c1c1c1;
                        }
                        .text-link {
                            color: green;;
                        }
                    }
                }
            }

            .list-menu-end {
                display: flex;
                justify-content: space-around;
                width: 45%;
                
                .branch-center {
                    width: 168px;
                    text-align: end;

                    &:hover {
                        background: #4bac4d;
                    }
                }
                .setup {
                    position: relative;
                    color: #000000;
                    width: 90px;
                    
                    ul {
                        height: auto;
                        background: #2782c0;
                        display: none;
                        z-index: 2;
                    }
                    
                    &:hover {
                        background: #1180ca;
                        color: #fff;
                        ul{
                            background: #2782c0;
                            position: absolute;
                            display: block;
                            width: 250px;
                            right: 0;
                            margin: 0;
                            padding: 0;
                            top:37px;
                        }
                    }
                    li:hover {
                        background:#6cb8eb;
                    }
                }
                .account {
                    width: 116px;
                    color: #000000;
                    position: relative;
                    
    
                    ul {
                        display: none;
                        width: 170px;
                        height: auto;
                        z-index: 2;
                    }
                    &:hover {
                        color: #fff;
                        background: #2782c0;
                        ul{
                            position: absolute;
                            display: block;
                            right: 0;
                            background: #2782c0;
                            margin: 0;
                            padding: 0;
                            top:37px;
                        }
                    }
                    li:hover {
                        background: #6cb8eb;
                    }
                }
                .icon-header-chill {
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 30px;
                    max-width: 30px;
                }
            }
        }
    }
}