ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    height: 44px;
    display: flex;
    align-items: center;
}
#menu {
    // height: 44px;
    height: 1000px;
    width: 20%;
    background: #4b6580;
    &.color-1 {
        background: #2e94da;
        .wrraper .list-menu .overview {
            background: #2782c0;            
        }
        .wrraper .shop {
            background: #2782c0;  
            &:hover {
                background: #0067a2;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #2e94da;
                    ul {
                        display: inline-table;
                        background-color: #2e94da;
                        li:hover {
                            background: #2782c0 ;
                        }
                    }
                }
            }
        }
    }
    &.color-2 {
        background: #9b59b6;
        .wrraper .list-menu .overview {
            background: #844c9b;
        }
        .wrraper .shop {
            background: #844c9b;
            &:hover {
                background: #5b26af;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #9b59b6;
                    ul {
                        display: inline-table;
                        background-color: #9b59b6;
                        li:hover {
                            background: #844c9b ;
                        }
                    }
                }
            }
        }
    }
    &.color-3 {
        background:  #16a085;
        .wrraper .list-menu .overview {
            background: #138871;
        }
        .wrraper .shop {
            background: #138871;
            &:hover {
                background: #0a5d4d;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #16a085;
                    ul {
                        display: inline-table;
                        background-color: #16a085;
                        li:hover {
                            background: #138871 ;
                        }
                    }
                }
            }
        }
    }
    &.color-4 {
        background: #4b6580;
        .wrraper .list-menu .overview {
            background: #41556e;
        }
        .wrraper .shop {
            background: #0076b9;
            &:hover {
                background: #41556e;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #4b6580;
                    ul {
                        display: inline-table;
                        background-color:#4b6580;
                        li:hover {
                            background: #41556e;
                        }
                    }
                }
            }
        }
    }
    &.color-5 {
        background: #d64457;
        .wrraper .list-menu .overview {
            background: #b53b4a;
        }
        .wrraper .shop {
            background: #eb5669;
            &:hover {
                background: #b53b4a;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #d64457;
                    ul {
                        display: inline-table;
                        background-color:#d64457;
                        li:hover {
                            background: #b53b4a;
                        }
                    }
                }
            }
        }
    }
    &.color-6 {
        background: #E67E22;
        .wrraper .list-menu .overview {
            background:#ba5b07;
        }
        .wrraper .shop {
            background: #ba5b07;
            &:hover {
                background: #ab4125;
            }
        }
        
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #E67E22;
                    ul {
                        display: inline-table;
                        background-color: #E67E22;
                        li:hover {
                            background: #ba5b07
                        }
                    }
                }
            }
        }
    }
    &.color-7 {
        background: #4bac4d;
        .wrraper .list-menu .overview {
            background: #219452;
        }
        .wrraper .shop {
            background: #219452;
            &:hover {
                background: #2c6a1e
            }
        }
            .wrraper .list-menu {
                .merchandise , .exchange, .partner , .staff , .report {
                    &:hover {
                        background: #4bac4d;
                        ul {
                            display: inline-table;
                            background-color: #4bac4d;
                            li:hover {
                                background: #219452;
                            }
                        }
                    }
                }
            }
        }
    
    &.color-8 {
        background: #6e9992;
        .wrraper .list-menu .overview {
            background:  #5e827c;
        }
        .wrraper .shop {
            background: #5e827c;
            &:hover {
                background: #39524E;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #6e9992;
                    ul {
                        display: inline-table;
                        background-color: #6e9992;
                        li:hover {
                            background: #5e827c;
                        }
                    }
                }
            }
        }
    }
    &.color-9 {
        background: #d73b8c;
        .wrraper .list-menu .overview {
            background: #b63375;
        }
        .wrraper .shop {
            background:  #b63375;
            &:hover {
                background: #821e52;
            }
        }
        .wrraper .list-menu {
            .merchandise , .exchange, .partner , .staff , .report {
                &:hover {
                    background: #d73b8c;
                    ul {
                        display: inline-table;
                        background-color:#d73b8c;
                        li:hover {
                            background:#b63375;
                        }   
                        }
                    }
                }
            }
        }
    
    .wrraper {
        width: 100%;
        margin: 0 auto;
        height: 44px;
        // display: flex;
        // justify-content: space-between;
        flex-direction: column;
        .menu-title {
            display: flex;
            margin-top: 20px;
            height: 80px;
            .title-dss {
                height: 60px;
                font-size: 30px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                padding-left: 10px;
                line-height: 1.5;
            }
            .icon{
                width: 50px;
                height: 50px;
                color: #fff;
            }
        }

        .menu-info {
            display: flex;
            height: 80px;
            .img {
                width: 70px;
                height: 50px;
                border-radius: 50%;
            }
            .menu-name {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
            }
        }
        .list-menu , .shop {
            display: flex;
            flex-direction: column;

            .icon-menu {
                padding-left: 10px;
                padding-right: 5px;
            }

            .icon-menu-chill {
                padding-left: 20px;
                padding-right: 5px;
                width: 30px;
                max-width: 30px;
            }
            a { 
                height: 44px;
                text-decoration: none;
                font-size: 14px;
                color: #fff;
                display: flex;
                align-items: center;
            }
            
            .overview {
                background: #41556e;
                border: none;
            }
            .merchandise , .exchange, .partner , .staff , .report{
                position: relative;

                ul {
                    position: absolute;
                    top: 44px;
                    width: 100%;
                    background: #41556e;
                    left: 0;
                    display:none;
                    z-index: 999;
                }
                &:hover {
                    background: #41556e;
                    ul {
                        display: inline-table;
                        
                        li:hover {
                            background: #4b6580 ;
                        }
                    }
                }
            }

            
            .report {
                border-right:1px solid rgba(0,0,0,.1)
            }
        }         
        .shop {
            background: #0076b9;
            &:hover {
                background: #41556e;
            }
        }     
    }
}